environment {
  XDG_CURRENT_DESKTOP "niri"
  XCURSOR_SIZE "14"
  ELECTRON_OZONE_PLATFORM_HINT "auto"
  QT_QPA_PLATFORM "wayland"
  QT_QPA_PLATFORMTHEME "gtk3"
  EDITOR "zed --wait"
}

spawn-at-startup "noctalia"

input {
    keyboard {
        xkb {
        }
    }

    touchpad {
        tap
        natural-scroll
    }

    trackpoint {
    }

    trackball {
        accel-speed 0.2
        accel-profile "adaptive"
    }

    focus-follows-mouse max-scroll-amount="10%"
}

cursor {
    xcursor-theme "Bibata-Original-Classic"
    xcursor-size 22
    hide-when-typing
}

layout {
    background-color "transparent"
    gaps 16

    border {
        off
    }

    focus-ring {
        width 2
    }
}

recent-windows {
    highlight {
        corner-radius 12
    }
}

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    slowdown 1.7
}

blur {
    passes 1
    offset 3
    noise 0.2
    saturation 1.5
}

debug {
  // Allows notification actions and window activation from Noctalia.
  honor-xdg-activation-with-invalid-serial
}

layer-rule {
  match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel|attached-panel|osd)$"
  background-effect {
    xray false
  }
}

layer-rule {
  match namespace="^noctalia-backdrop"
  place-within-backdrop true
}

window-rule {
  // Rounded corners for a modern look.
  geometry-corner-radius 10

  // Clips window contents to the rounded corner boundaries.
  clip-to-geometry true
}

include "windowrules.kdl"
include "outputs.kdl"
include "binds.kdl"
// include "startup.kdl"

include "noctalia.kdl"
